/* Import fontu */
@font-face {
  font-family: Matter;
  src: url(matter-font/Matter-Regular.otf);
}

@font-face {
  font-family: Matter;
  src: url(matter-font/Matter-Bold.otf);
  font-weight: bold;
}


/* Definice barev */
:root {
  --oranzova: #F04600;
  --modra: #212b8f;
}

body {
  background-color: #fbeebc;
  background-color: #f0f0f0;
  font-family: "Matter", sans-serif;
  /* overflow-x: hidden; */
}