<!-- How to use catalogue modal -->
<div class="modal fade" id="howToModal" tabindex="-1" aria-labelledby="howToModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="howToModalLabel">Jak používat katalog</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zavřít"></button>
            </div>
            <div class="modal-body">
                <h3>1. Vyhledávání:</h3>
                <ul>
                    <li>Do pole <strong>"Hledaný výraz"</strong> zadejte klíčová slova, která vás zajímají. Katalog prohledá názvy, popisy a klíčová slova datových sad.</li>
                    <li>Stiskněte tlačítko <strong>"Vyhledat"</strong> (pokud je k dispozici).</li>
                </ul>

                <h3>2. Filtrování:</h3>
                <ul>
                    <li>Filtry jsou dostupné v levém panelu.</li>
                    <li>Můžete filtrovat podle:
                        <ul>
                            <li><strong>Klíčových slov:</strong> Zaškrtněte relevantní klíčová slova. Pro rychlejší nalezení můžete použít vyhledávací pole v rámci každé sekce filtru.</li>
                            <li><strong>Zdroje dat:</strong> Vyberte, z jakého zdroje data pocházejí.</li>
                            <li><strong>Držitele práv:</strong> Zobrazte datové sady spravované konkrétním držitelem práv.</li>
                        </ul>
                    </li>
                    <li>Po zaškrtnutí filtrů se automaticky zobrazí odpovídající datové sady.</li>
                    <li>Pro vymazání všech nastavených filtrů klikněte na tlačítko <strong>"Vymazat filtry"</strong>.</li>
                </ul>

                <h3>3. Prohlížení datových sad:</h3>
                <ul>
                    <li>
                        Každá datová sada <i class="fa-solid fa-folder-tree icon-blue"></i> je zobrazena jako karta.
                        Na podřazených kartách se zobrazují příslušné datové třídy <i class="fa-solid fa-folder-open icon-blue"></i>
                        a datové tabulky <i class="fa-solid fa-table icon-blue"></i>.
                    </li>
                    <li>Kliknutím na <strong>název karty</strong> rozbalíte/sbalíte detailní informace, včetně popisu, klíčových slov, zdroje dat a držitele práv.</li>
                    <li><strong>Ikonky vpravo nahoře na kartě:</strong>
                        <ul>
                            <li><i class='bx bx-check-circle icon-blue'></i> Indikuje, že informace o dané entitě jsou kompletní.</li>
                            <li><i class='bx bx-file-blank icon-blue'></i> Indikuje, zda jsou data uložená v datovém skladu.</li>
                        </ul>
                    </li>
                    <li>V pravém dolním rohu karty se nachází ikonka <i class='bx bx-list-ul icon-blue'></i> <strong>Zobrazit/skrýt tabulky</strong>. Kliknutím na ni zobrazíte seznam souvisejících databázových tabulek (pokud existují).</li>
                    <li>U každé zobrazené tabulky můžete kliknout na název <i class="fa-regular fa-folder-open icon-blue"></i> pro zobrazení jejího popisu (pokud je k dispozici).</li>
                    <li>U tabulek je také k dispozici ikonka <i class='bx bx-search icon-blue'></i> <strong>Zobrazit proměnné</strong> (lupa), která po kliknutí zobrazí modální okno s proměnnými dané tabulky a informací o tom, jaké jsou zde použity slovníky.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
