{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" >
  <div class="app-brand demo">
    <a href="index.html" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img src="{% static '/img/logo.png' %}" alt="Logo"  style="width:100px;">
      </span>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>
<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Legenda</span>
    </li>
    <li class="menu-item">
        &nbsp&nbsp<i class="fa-solid fa-folder-tree"></i> - Datová sada
    </li>
    <li class="menu-item">
        &nbsp&nbsp<i class="fa-solid fa-folder-open"></i> - Datová třída
    </li>
    <li class="menu-item">
        &nbsp&nbsp<i class="fa-solid fa-table"></i> - Datová tabulka
    </li>
    <p>
    <li class="menu-item">
        &nbsp&nbsp<i class="tf-icons bx bx-check-circle"></i> - Kompletní informace
    </li>
      <li class="menu-item">
        &nbsp&nbsp<i class="tf-icons bx bx-file-blank"></i> - Uloženo v datovém skladu
    </li>
        <li class="menu-item">
        &nbsp&nbsp<i class="tf-icons bx bx-list-ul"></i> - Otevřít seznam položek
    </li>
    <li class="menu-item">
        &nbsp&nbsp<i class="tf-icons bx bx-x"></i> - Zavřít seznam položek
    </li>
    <li class="menu-item">
        &nbsp&nbsp<i class="fa-solid bx bx-search"></i> - Detail tabulky
    </li>
       <!-- kontakt -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Kontakt</span>
    </li>

 </ul>

</aside>


